@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Playfair Display", serif;
    background: linear-gradient(#203921, #102012);
    color: #fff;
    text-align: center;
    line-height: 1.7;
}

/* HEADER */
header{
    padding: 30px 10px;
    background: linear-gradient(#294f36, #1c3c2a);
    box-shadow: 0px 8px 25px rgba(0,0,0,.3);
}

header img{
    width: 190px;
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.4));
}

header p{
    font-size: 45px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: 600;
}

/* SECTION ABOUT */
#about p{
    font-size: 19px;
    padding: 20px;
    max-width: 900px;
    margin: 60px auto;
    background: rgba(255,255,255,0.08);
    border-radius: 20px;
    backdrop-filter: blur(6px);
    box-shadow: 0 5px 25px rgba(0,0,0,0.2);
}


/* MENU GRID */
.menu-grid{
    display: flex;
    justify-content: center;
    padding: 40px;
}

.menu-item{
    background: #fff;
    width: 800px;
    padding: 35px;
    border-radius: 25px;
    text-decoration: none;
    color: #3a6a4c;
    transition: .4s;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.menu-item:hover{
    transform: translateY(-7px);
    box-shadow: 0 25px 40px rgba(0,0,0,0.35);
}

.icone{
    font-size: 7em;
}

.titulo-card{
    font-size: 2em;
    font-weight: bold;
    margin: 15px 0;
}

.desc-card{
    font-size: 1em;
}


/* FOOTER */
footer{
    margin-top: 200px;
    padding: 40px;
    background: linear-gradient(#294f36,#13271c);
    box-shadow: 0 -6px 25px rgba(0,0,0,.3);
}

footer p{
    font-size: 15px;
    opacity: .8;
}
